<%- include("../partials/header") %>
	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<li class="list-group-item">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
			<div id="map"></div>
		</div>
		
		<div class="col-md-9">
    <div class="card mb-3">
      <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
      <div class="card-body">
        <h5 class="float-right">
          $<%= campground.price %>/night
        </h5>
        <h2 class="card-title"><%= campground.name %></h2>
        <p>
          <em>Submitted by: <strong><a href="/users/<%= campground.author.id %>"> <%= campground.author.firstName %></a></strong>, <%= moment(campground.createdAt).fromNow() %></em>
        </p>
        <hr>
        <p class="card-text"><%= campground.description %></p>
        <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit <i class="fas fa-edit"></i></a>
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="delete-form">
          <button class="btn btn-sm btn-danger">Delete <i class="far fa-trash-alt"></i></button>
        </form>
        <% } %>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new"><i class="far fa-plus-square"></i> Add New Comment</a>
        </div>
        <hr>
        <div class="row">
        <% campground.comments.forEach(function(comment){ %>
          <div class="col-md-12 mb-2">
            <div class="card">
              <div class="card-body">
                <div class="float-left">
					<p class="card-title"><strong><a href="/users/<%= comment.author.id %>"> <%= comment.author.firstName %></a></strong></p>
                  <p class="card-text"><%= comment.text %></p>
                </div>
                <div class="float-right">
                  <p><%= moment(comment.createdAt).fromNow() %></p>
                  
                  <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                  <div class="float-right">
                    <a href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-warning">Edit <i class="fas fa-edit"></i></a>
                    <form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-sm btn-danger">Delete <i class="far fa-trash-alt"></i></button>
                    </form>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


		
		

<%- include("../partials/footer") %>